<div style="padding: 5px">
  <mat-chip-list>
    <mat-chip
      color="accent"
      selected
      *ngFor="let club of clubsArray"
      [routerLink]="['/clubinfo', club.id]"
      >{{ club?.name ? club.name : 'club-name' }}</mat-chip
    >
  </mat-chip-list>
</div>
<div *ngIf="user">
  <div *ngIf="(favClubsEvents$ | async) as favevents; else eventLoading">
    <div class="event-section-header">{{ user?.mainClub?.name }} events.</div>
    <football-events-summary-teaser
      [events]="favevents"
    ></football-events-summary-teaser>
  </div>

  <div *ngIf="(taggedClubsEvents$ | async) as tagevents">
    <div class="event-section-header">Recents events from tagged clubs</div>

    <football-events-summary-teaser
      [events]="tagevents"
    ></football-events-summary-teaser>
  </div>
</div>

<div *ngIf="(topClubsEvents$ | async) as topevents">
  <div class="event-section-header">Top club events</div>
  <football-events-summary-teaser [events]="topevents">
  </football-events-summary-teaser>
</div>
<ng-template #eventLoading>
  <mat-progress-spinner
    mode="indeterminate"
    color="primary"
  ></mat-progress-spinner>
</ng-template>
