<div *ngIf="user">
  <div *ngIf="(mainClubNews$ | async) as mainClubNews">
    <div class="section-header">
      {{ user.mainClub.name }} News
      <!--
        <button mat-icon-button routerLink="list/favclub">
          <mat-icon class="mat-18">trending_flat</mat-icon>
        </button>
      -->
    </div>

    <!-- <news-teaser-two [news]="mainClubNews"></news-teaser-two> -->

    <football-news-summary-view-teaser
      [news]="mainClubNews"
    ></football-news-summary-view-teaser>
  </div>

  <div *ngIf="(taggedClubNews$ | async) as taggedClubNews">
    <div class="section-header">
      Tagged Club News
      <!--
        <button mat-icon-button routerLink="list/tagged">
          <mat-icon class="mat-18">trending_flat</mat-icon>
        </button>
      -->
    </div>
    <football-news-summary-view-teaser
      [news]="taggedClubNews"
    ></football-news-summary-view-teaser>
  </div>
</div>
<div *ngFor="let club of clubsArray">{{ club.name }}</div>

<div *ngIf="(recentNews$ | async) as news">
  <div class="section-header">
    Other News
    <!-- keep the below code. wil user this later when Implement infinit scroll for all the news. -->
    <!-- <button mat-icon-button routerLink="list/all">
      <mat-icon class="mat-18">trending_flat</mat-icon>
    </button> -->
  </div>

  <football-news-summary-view-teaser
    [news]="news"
  ></football-news-summary-view-teaser>
</div>
