<div style="padding: 5px">
  <mat-chip-list>
    <mat-chip
      color="accent"
      selected
      *ngFor="let club of clubsArray"
      [routerLink]="['/clubs/clubinfo', club.id]"
      >{{ club?.name ? club.name : 'club-name' }}</mat-chip
    >
  </mat-chip-list>
</div>

<div *ngIf="user; else notLoggedIn">
  <!-- <div *ngIf="(mainClubNews$ | async) as mainClubNews">
    <div class="section-header">
      {{ user.mainClub.name }} News

    </div>


    <football-news-summary-view-teaser
      [news]="mainClubNews"
    ></football-news-summary-view-teaser>
  </div> -->

  <div *ngIf="(taggedClubNews$ | async) as taggedClubNews">
    <div class="section-header">
      Tagged Club News

      <button mat-icon-button routerLink="/news/list">
        more
        <mat-icon class="mat-18">trending_flat</mat-icon>
      </button>
    </div>
    <football-news-summary-view-teaser
      [news]="taggedClubNews"
    ></football-news-summary-view-teaser>
  </div>
</div>

<ng-template #notLoggedIn>
  <div class="not-logged-msg">
    You are not logged in. Please
    <a routerLink="/account/login">login</a> and tag clubs
  </div>
</ng-template>

<div *ngIf="(recentNews$ | async) as news">
  <div class="section-header">
    Other News
    <button mat-icon-button routerLink="/news/list">
      more
      <mat-icon class="mat-18">trending_flat</mat-icon>
    </button>
  </div>

  <football-news-summary-view-teaser
    [news]="news"
  ></football-news-summary-view-teaser>
</div>
