<div class="admin-container" fxLayout="row">
  <mat-card fxFlex>
    <mat-form-field>
      <mat-select
        placeholder="District"
        (selectionChange)="distChange($event.value)"
      >
        <mat-option *ngFor="let district of districts" [value]="district">{{
          district
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select
        placeholder="Local Body Type"
        (selectionChange)="bodyTypeChange($event.value)"
      >
        <mat-option value="Municipality">Municipality</mat-option>
        <mat-option value="Corporation">Corporation</mat-option>
        <mat-option value="Grama Panchayat">Grama Panchayat</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="(localBodys$ | async) as localbodies">
      <mat-form-field>
        <mat-select
          placeholder="Local Body"
          (selectionChange)="localBodyChange($event.value)"
        >
          <mat-option
            *ngFor="let localbody of localbodies"
            [value]="localbody.localBodyCode"
            >{{ localbody.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <button mat-button (click)="searchClubs()" color="accent">Search</button>
    </div>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Club Name</th>
        <td mat-cell *matCellDef="let club" (click)="loadClubUsers(club)">
          {{ club.name }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card>

  <mat-card fxFlex> </mat-card>
</div>
