<div class="home-message">
  <div *ngIf="homeMessage.isLoggedIn; else: notLoggedIn">
    <div *ngIf="!homeMessage.hasFavClub">
      It seems like you have not selected you fav club. Please update from user
      profile. If you don't find your favorite club, please add your clubs by
      clicking <span><a>Register a Club</a></span>
    </div>
    <div *ngIf="!homeMessage.hasTaggedClubs">
      Did you know that you can tag clubs so that event and news from those
      clubs can reach you sooner. Please add clubs to your tagged clubs.
    </div>
  </div>
  <ng-template #notLoggedIn
    >It looks you are not logged In, Did you know that you can view your
    selected clubs news and events can reach you soon if you log in</ng-template
  >
</div>

<div class="section-header">
  Events
  <button mat-icon-button routerLink="/events">
    <mat-icon class="mat-18">trending_flat</mat-icon>
  </button>
</div>

<football-events-summary-teaser
  *ngIf="(events$ | async) as events; else: eventLoading"
  [events]="events"
>
</football-events-summary-teaser>
<ng-template #eventLoading>
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
  <br />
</ng-template>
<div class="section-header">
  News
  <button mat-icon-button routerLink="/news">
    <mat-icon class="mat-18">trending_flat</mat-icon>
  </button>
</div>

<div *ngIf="(news$ | async) as news; else: newsLoading">
  <football-news-summary-view-teaser [news]="news">
  </football-news-summary-view-teaser>
</div>

<ng-template #newsLoading>
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</ng-template>
