<div class="section-header">
  Events
  <button mat-icon-button routerLink="/events">
    <mat-icon class="mat-18">trending_flat</mat-icon>
  </button>
</div>

<!--
  <football-events-teaser [events]="events$ | async"></football-events-teaser>
-->
<football-events-summary-teaser
  *ngIf="(events$ | async) as events; else: eventLoading"
  [events]="events"
>
</football-events-summary-teaser>
<ng-template #eventLoading>
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
  <br />
</ng-template>
<!-- <div class="section-header">Announcements</div> -->
<div class="section-header">
  News
  <button mat-icon-button routerLink="/news">
    <mat-icon class="mat-18">trending_flat</mat-icon>
  </button>
</div>

<div *ngIf="(news$ | async) as news; else: newsLoading">
  <football-news-summary-view-teaser [news]="news">
  </football-news-summary-view-teaser>
</div>

<ng-template #newsLoading>
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</ng-template>

<!--
  <mat-card *ngIf="(news$ | async) as news; else: newsLoading">
    <div class="news-short-view mat-typography" *ngFor="let news of news">
      <mat-card style="padding: 10px;">
        <mat-card-header>
          <mat-card-title>{{ news.title }}</mat-card-title>
          <mat-card-subtitle>{{ news.summary }}</mat-card-subtitle>
          <img mat-card-avatar src="https://via.placeholder.com/100x100" />
        </mat-card-header>
      </mat-card>
    </div>
  </mat-card>
-->
