<div>
  <div *ngIf="homeMessage.isLoggedIn; else notLoggedIn">
    <div *ngIf="!homeMessage.hasFavClub" class="home-message">
      Please set you
      <span><a [routerLink]="['/profile']">favorite club</a></span> to get news
      and events notification from the your club. If you don't find your
      favorite club, please add your clubs by clicking
      <span><a [routerLink]="['/registerclub']">Register a Club</a></span>
    </div>
    <div *ngIf="!homeMessage.hasTaggedClubs" class="home-message">
      Did you know that you can follow other clubs too.? Their news and events
      will reach you soon.! Add clubs to you
      <span><a [routerLink]="['/profile']">tagged club</a></span> list.
    </div>
  </div>
  <ng-template #notLoggedIn>
    <div class="home-message" class="home-message">
      It looks you are not logged In, Did you know that you can view your
      selected clubs news and events can reach you soon if you
      <span><a [routerLink]="['/login']">log in</a></span>
    </div>
  </ng-template>
</div>

<div class="section-header">
  Events
  <button mat-button routerLink="/events">
    view more
    <mat-icon class="mat-18">trending_flat</mat-icon>
  </button>
</div>

<football-events-summary-teaser
  *ngIf="(events$ | async) as events; else eventLoading"
  [events]="events"
>
</football-events-summary-teaser>
<ng-template #eventLoading>
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
  <br />
</ng-template>
<div class="section-header">
  News
  <button mat-icon-button routerLink="/news">
    <mat-icon class="mat-18">trending_flat</mat-icon>
  </button>
</div>

<div *ngIf="(news$ | async) as news; else newsLoading">
  <football-news-summary-view-teaser [news]="news">
  </football-news-summary-view-teaser>
</div>

<ng-template #newsLoading>
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</ng-template>
