.section-header {
  text-transform: uppercase;
  text-align: center;
  font-size: 26;
  font-weight: 200;
  background: #eeeeee;
  padding: 10px;
  letter-spacing: 5px;
}

.home-message {
  padding: 50px;
  font-size: 16px;
  font-weight: 300;
}

.wrapper {
  display: flex;
  justify-content: center;
}
.container {
  max-width: 900px;
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
.container > div {
  background-color: #eee;
  min-height: 150px;
  min-width: 150px;
  flex: 1;
  padding: 20px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 200;
  font-size: 20px;
  cursor: pointer;

  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.news {
  /* background: linear-gradient(110deg, #7fdbff 60%, #ffdc00 60%); */
  /* background: linear-gradient(-70deg, #fa7c30 30%, rgba(0, 0, 0, 0) 30%),
    url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIqCMbzG0gT--mgwwnZtp6beZ_ev5xKWoiFjdtrGg68on90sXLoQ'); */

  /* filter: blur(5px); */
}

/* .events {
  background: linear-gradient(110deg, #dddddd 60%, #b10dc9 60%);
}

.mynews {
  background: linear-gradient(110deg, #f012be 60%, #ff851b 60%);
}
.myevents {
}

.turf {
} */
/* background: linear-gradient(-70deg, #fa7c30 30%, rgba(0, 0, 0, 0) 30%), url('planets.jpg'); */
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}

/* router loading text */
.nav-loading {
  position: fixed;
  top: 50%;
  right: 50%;
  z-index: 2;
}
.blur-back {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  background-color: rgba(100, 100, 100, 0.5);
  filter: blur(5px);
  z-index: 1;
}
