<mat-card *ngIf="submitted">
  <mat-card-subtitle>
    You request has been submitted successfully. You will be contacted for the
    verification process.
  </mat-card-subtitle>
</mat-card>

<mat-card *ngIf="!submitted">
  <mat-card-title>Send us your club's information</mat-card-title>
  <mat-card-subtitle
    >Please fill up the below form to add your club, be sure to add your club
    location as well. This will give a smooth browsing experience to your club
    fans</mat-card-subtitle
  >

  <mat-spinner *ngIf="submitting"></mat-spinner>

  <form
    class="form-container"
    [formGroup]="clubRequestForm"
    (ngSubmit)="onSubmit()"
    *ngIf="!submitting"
  >
    <p>Club Basic Information</p>
    <mat-form-field>
      <input matInput placeholder="club name" formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="club short name"
        formControlName="shortName"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Tier" formControlName="tier">
        <mat-option value="first">first</mat-option>
        <mat-option value="second">second</mat-option>
        <mat-option value="third">third</mat-option>
        <mat-option value="fouth">fourth</mat-option>
      </mat-select>
    </mat-form-field>

    <p>Contact Number for verification purpose</p>
    <mat-form-field>
      <input matInput placeholder="contact number" formControlName="contact" />
      <mat-hint>Enter a valid phone number</mat-hint>
      <mat-error *ngIf="contactNumber.errors?.pattern">
        Please enter a valid phone number
      </mat-error>
    </mat-form-field>

    <p>Address Details</p>

    <div class="address-container" formGroupName="address">
      <mat-form-field>
        <input matInput placeholder="line1" formControlName="line1" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="line2" formControlName="line2" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="pin code" formControlName="pin" />
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="state" disabled="true" value="kerala">
          <mat-option value="kerala">kerala</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select
          placeholder="District"
          formControlName="district"
          (selectionChange)="distChange($event.value)"
        >
          <mat-option *ngFor="let district of districts" [value]="district">{{
            district
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select
          placeholder="Local Body Type"
          formControlName="bodyType"
          (selectionChange)="bodyTypeChange($event.value)"
        >
          <mat-option value="Municipality">Municipality</mat-option>
          <mat-option value="Corporation">Corporation</mat-option>
          <mat-option value="Grama Panchayat">Grama Panchayat</mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="(localBodys$ | async) as localbodies">
        <mat-form-field>
          <mat-select placeholder="Local Body" formControlName="localBody">
            <mat-option
              *ngFor="let localbody of localbodies"
              [value]="localbody.name"
              (onSelectionChange)="setLocalBodyCode(localbody)"
              >{{ localbody.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <input
          type="text"
          formControlName="localBodyCode"
          style="display: none"
        />
      </div>
    </div>
    <button
      type="submit"
      color="primary"
      [disabled]="!clubRequestForm.valid"
      mat-button
    >
      send details
    </button>
  </form>
</mat-card>
