.section-header {
  text-transform: uppercase;
  text-align: center;
  font-size: 26;
  font-weight: 200;
  background: #eeeeee;
  padding: 10px;
  letter-spacing: 5px;
}

.loading-indicator {
  margin: auto auto;
}

.type-container {
  margin: 5px;
  padding: 5px;
  background-color: #eee;
  font-weight: 100;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.icon-active {
  background-color: rgb(195, 198, 199);
  color: white;
}
