.club-info-container {
  height: 100%;
  /* max-width: 650px; */
  padding: 0px;
  max-width: 800px;
  margin: 0px auto;
}

/* club continer copy if moving to a component */
.club-icon {
  width: 80px;
  height: auto;
}

.club-name {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.top-section {
  background-color: #eee;
  height: 40%;
}
.header-container {
  margin: 5px auto;
  padding: 20px;
}

.section-2 {
  position: relative;
}
.address-section {
}

#phone {
  font-size: 25px;
}

/* achivement summary */
.achievement-view {
  border-radius: 10px;
  background: #eee;
  padding: 20px;
  margin: 5px;
  margin-bottom: 10px;
  position: relative;
}

.header {
  margin-bottom: 10px;
}

.des {
  font-weight: 200;
}

/* club management */
.management-container {
  font-size: 0.9rem;
}
.item-container {
  height: 100%;
  position: relative;
}

.mangement-item {
  margin: 10px;
  border-radius: 20px;
  padding: 10px;
  background: #eee;
}

.label {
  font-weight: 100;
}
