<mat-toolbar color="primary">
  <button mat-icon-button (click)="openSideNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="app-title"> {{ appTitle }} </span>
  <span class="flex-full-width"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <div *ngIf="user; else notLoggedIn">
      <div>
        <button mat-menu-item routerLink="/account/profile">
          <mat-icon>account_circle</mat-icon>
          <span>Profile</span>
        </button>

        <!-- <mat-divider></mat-divider> -->
        <button mat-menu-item [routerLink]="['/clubs/registerclub']">
          <mat-icon>fiber_new</mat-icon>
          <span>Register a club</span>
        </button>
        <!-- <mat-divider></mat-divider> -->
      </div>
      <button mat-menu-item (click)="logout()">
        <mat-icon>person</mat-icon>
        <span>Logout</span>
      </button>
    </div>
    <ng-template #notLoggedIn>
      <button mat-menu-item (click)="login()">
        <mat-icon>person</mat-icon>
        <span>Login</span>
      </button>
    </ng-template>
  </mat-menu>
</mat-toolbar>
