<mat-sidenav-container class="main-container">
  <mat-sidenav #sidenav mode="over">
    <football-side-nav-header></football-side-nav-header>
    <football-side-navigation
      (linkItemClick)="sidenav.toggle()"
      [navConfig]="sideNavOptions"
    ></football-side-navigation>
  </mat-sidenav>

  <mat-sidenav-content>
    <football-toolbar
      (menuClicked)="sidenav.toggle()"
      [appTitle]="title"
    ></football-toolbar>

    <div class="router-outlet"><router-outlet></router-outlet></div>
    <!--
    <div fxLayout="row" fxLayoutAlignment="center" class="footer">
      <div fxFlex style="margin-right: 10px">
        <p>Designed and Developed by Jafar</p>
        <p>jafarcees@gmail.com</p>
        <p>phone: +91 9539 028 029</p>
      </div>
      <div fxFlex="30">
        <h6>Timeout sports</h6>
        <p>A portal for all the clubs and parties to publish news and events</p>
      </div>
    </div> -->
  </mat-sidenav-content>
</mat-sidenav-container>
