<mat-card *ngIf="submitted">
  <mat-card-subtitle>
    You have successfully reviewd the club information. Go to club list to view
    more clubs.
  </mat-card-subtitle>
</mat-card>
<mat-card *ngIf="loaded; else: loading">
  <div *ngIf="!submitted">
    <mat-card-title>Please review the details.</mat-card-title>
    <mat-card-subtitle
      >Please edit information if needed. Approve or Reject
      accordingly.</mat-card-subtitle
    >

    <mat-spinner *ngIf="submitting"></mat-spinner>

    <form
      class="form-container"
      [formGroup]="clubApprovalForm"
      *ngIf="!submitting"
    >
      <p>Club Basic Information</p>
      <mat-form-field>
        <input matInput placeholder="club name" formControlName="name" />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="club short name"
          formControlName="shortName"
        />
      </mat-form-field>

      <p>Status: {{ club.status }}</p>

      <mat-form-field>
        <mat-select placeholder="Tier" formControlName="tier">
          <mat-option value="first">first</mat-option>
          <mat-option value="second">second</mat-option>
          <mat-option value="third">third</mat-option>
          <mat-option value="fouth">fourth</mat-option>
        </mat-select>
      </mat-form-field>

      <p>Contact Number for verification purpose</p>
      <mat-form-field>
        <input
          matInput
          placeholder="contact number"
          formControlName="contact"
        />
      </mat-form-field>

      <p>Address Details</p>

      <div formGroupName="address">
        <mat-form-field>
          <input
            matInput
            placeholder="address line 1"
            formControlName="line1"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="address line 2"
            formControlName="line2"
          />
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="pin code" formControlName="pin" />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Local Body"
            formControlName="localBody"
          />
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="district" formControlName="district" />
        </mat-form-field>
      </div>
      <div
        *ngIf="
          club.status !== 'approved' && club.status !== 'rejected';
          else: approved
        "
      >
        <button
          color="primary"
          [disabled]="!clubApprovalForm.valid"
          mat-button
          (click)="approveRequest()"
        >
          Approve
        </button>

        <button
          color="primary"
          [disabled]="!clubApprovalForm.valid"
          mat-button
          color="red"
          (click)="rejectRequest()"
        >
          Reject
        </button>
      </div>

      <ng-template #approved>
        <h3>This club has already been processed.</h3>
      </ng-template>
    </form>
  </div>
</mat-card>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</ng-template>
