.newspage {
  height: 100%;
  background-color: #EEEEEE;
}

.item-container {
  height: auto;
}

.stat-wrapper {
  width: 100%;
  height: 200px;
  border: 2px solid red;
  border-radius: 3px;
}


.stat-container {
  position: relative;
  padding: 0px;
  border-radius: 10px;
}

.stat-header {
  padding: 0px;
  margin: 0px;
  display: block;
}

.stat-icon-container {
  float: left;
  background-color: red;
  height: 10px;
  margin-left: 10px;
  margin-top: -10px;
}

.stat-category, .stat-value {
  text-align: right;
}

.stat-category {
  font-size: 14px;
  color: #999;
  font-weight: 300;
  padding: 5px;
}

